* {
  margin: 0;
  padding: 0;
}

.fondoindex {
  background-color: beige;
  color: black;
  font-family: sans-serif;
}

.contenedor {
  width: 98%;
  margin: 20px auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "logomedia logomedia logomedia" "header header header" "contenido contenido contenido" "sidebar sidebar sidebar" "paquetes paquetes paquetes" "opc1 opc2 opc3" "footer footer footer";
}

.contenedor > div,
.contenedor .logomedia,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer,
.contenedor .paquetes {
  padding: 5px;
  border-radius: 4px;
}

.contenedor .header {
  grid-area: header;
}

.contenedor .sidebar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar;
}

.contenedor .paquetes {
  color: #15133C;
  display: flex;
  justify-content: space-around;
  grid-area: paquetes;
  background-color: #644545;
}

.contenedor .container {
  background: #645858;
  color: #0a0a0a;
  grid-area: footer;
  font-size: 1, 8rem;
}

.logomedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: logomedia;
}

.logo {
  width: 300px;
  height: 80px;
}

.logo:hover {
  transform: translate(10px, 10px);
  transform: rotate(5deg);
  transition: heigth 2s;
}

header {
  background-color: #d3cbcb;
}
header ul {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-family: serif;
  list-style: none;
  margin: 10px;
  color: black;
}
header ul .nav {
  transition-duration: 4s;
}
header ul .nav:hover {
  background-color: #A5BECC;
  transition-duration: 3s;
}

.contenedor .contenido {
  grid-area: contenido;
}

main .estilo {
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: #04009A;
}
main .estilo:hover {
  animation-duration: 2s;
  animation-name: animate__pulse;
}
main .parrafo {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  font-family: cursive;
}

.contenedor .opc1,
.contenedor .opc2,
.contenedor .opc3 {
  background: #ecc685;
  color: #644545;
  height: 680px;
  width: 500px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

.card:hover {
  animation-duration: 2s;
  background-color: #ecc685;
}

.cards {
  display: flex;
  border-radius: 5px;
  margin-left: 238px;
}
.cards .card {
  margin-bottom: auto;
}
.cards .opc1 {
  display: flex;
  text-align: center;
  grid-area: opc1;
  margin: 10px;
  flex-direction: column;
  border-radius: 8px;
}
.cards .opc2 {
  display: flex;
  text-align: center;
  grid-area: opc1;
  margin: 10px;
  flex-direction: column;
  border-radius: 8px;
}
.cards .opc3 {
  grid-area: opc3;
  display: flex;
  text-align: center;
  margin: 10px;
  flex-direction: column;
  border-radius: 8px;
}
.cards .card {
  width: 200px;
  height: 200px;
  border-radius: 2em;
}
.cards h3 {
  margin: 10px 0 10px 0;
  color: black;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}
.cards ol {
  list-style: inside;
  margin: auto;
  font-style: bolder;
  font-size: large;
}
.cards button {
  margin: auto;
}

@media (max-width: 600px) {
  .fondoindex {
    background-color: #e29146;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
  }

  .logomedia {
    width: 150px;
    height: 70px;
    align-items: center;
    margin-left: 425px;
  }

  .header {
    padding: 10px;
  }

  .estilo {
    display: block;
  }

  .parrafo {
    display: table-caption;
    width: 685px;
    text-align: center;
  }

  .sidebar {
    display: initial;
    width: 800px;
    margin: 60px;
  }

  .cards {
    display: block;
  }
}
.body {
  background-image: linear-gradient(#1A4D2E, #FF9F29, #FAF3E3);
  margin: 20px auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "logomedia logomedia logomedia" "header header header" "main main main" "sectiongraf sectiongraf sectiongraf" "footer footer footer";
}

.logomedia {
  grid-area: logomedia;
}

.header {
  grid-area: header;
}

main {
  grid-area: main;
}
main .titulograf {
  font-size: 3rem;
  font-family: cursive;
  text-align: center;
  color: #000000;
}
main .parrafograficos {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
main .img-fluid {
  text-align: center;
  color: white;
}

.sectiongraf {
  grid-area: sectiongraf;
}

.container {
  grid-area: footer;
}

.iniciograficos {
  color: #1A4D2E;
}

.sectiongraf .titulo2 {
  font-size: 3rem;
  text-align: center;
  margin: auto;
}
.sectiongraf .card-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  align-content: center;
  margin: auto;
}
.sectiongraf .card-group .cardgraf {
  margin: 25px 15px 0 15px;
}
.sectiongraf .card-group .card-title {
  font-size: 2rem;
  color: #1A4D2E;
  margin: 10px;
}
.sectiongraf .card-group .card-text {
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #1ebb5d;
  margin-top: 200px;
}

.maincursos .pgraf {
  font-size: 2rem;
}
.maincursos .imagencursos {
  text-align: center;
}
.maincursos .imagencursos .imagecursos {
  width: 800px;
  height: 400px;
}
.maincursos .imagencursos .titulo-sec {
  text-align: center;
  font-size: 2rem;
  font-family: cursive;
  color: #FAF3E3;
}
.maincursos .imagencursos .parrafocursos {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  border: 2px dashed white;
  margin: 1em;
}

.container-cursos {
  background-color: #d3f8f3;
}

.body-foro {
  background-image: linear-gradient(#C1A57B, #222831, #222831);
}

.container-foro {
  width: 96%;
  margin: auto;
}

.maincontact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maincontact .titulo-contact {
  font-size: 2rem;
  color: #222831;
  font-family: cursive;
  text-align: center;
  padding: 2rem;
}
.maincontact .formcontact {
  font-size: 1.55rem;
}

.container-curs {
  width: 100%;
  background: #222831;
  color: #d3f8f3;
}
.container-curs .nav {
  display: flex;
  justify-content: space-around;
}

#menu_on {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 2;
}